<ion-view title="Stock Prices" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="stockPrices-form1" class="list">
      <label class="item item-select" id="stockPrices-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Apple Computer – AAPL</option>
          <option>General Electric Company – GE</option>
          <option>Starbucks Corporation – SBUX</option>
          <option>Walgreens Company – WBA</option>
        </select>
      </label>
    </form>
    <a ui-sref="result()" id="stockPrices-button1" class="button button-positive button-block">See the result</a>
  </ion-content>
</ion-view>